
.container {
  margin-top: 2em;
}

.auth-buttons {
  margin-bottom: 16px;
}

button i.fa {
  display: none;
  margin-right: 5px;
}

.busy button i.fa {
  display: inline;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar + .container {
  margin-top: 6em;
}
