<div class="container" ng-if="user">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row" ng-show="ctrl.state.part2">
                <div>
                    <div class="col-md-12">
                        <button
                                type="button"
                                focus-on="save"
                                class="btn btn-primary"
                                ng-disabled="ctrl.state.busy"
                                ng-click="ctrl.save()">
                            <i class="fa fa-spinner fa-spin"></i> Add to Your Library
                        </button>

                        <span class="text-success pad-left-1" ng-bind="ctrl.msgs.success"></span>
                   </div>
                </div>
            </div>

            <div ng-cloak ng-show="ctrl.state.part1">

                <div class="form-group">
                    <label>Magnet Link</label>
                    <input
                            type="text"
                            name="link"
                            focus-on="link"
                            placeholder="magnet:"
                            ng-model="ctrl.link"
                            ng-change="ctrl.id()"
                            ng-model-options="{ debounce: 250 }"
                            class="form-control">
                </div>

                <div>
                    <p class="text-danger" ng-bind="ctrl.msgs.error"></p>
                </div>
            </div>

            <div ng-cloak ng-show="ctrl.state.part2">

                <hr>

                <movie magnet="ctrl.magnet"></movie>

                <hr>

            </div>


        </div>
    </div>
</div>
