<!DOCTYPE html>
<html>
<head>
    <title>strmr</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>[ng-cloak] {display: none;}</style>
    <script src="jspm/system.js"></script>
    <script src="config.js"></script>
    <script>

        // This is what allows us to register this site as a
        // handler for magnet protocol links.  Works!

        navigator.registerProtocolHandler("magnet", window.location.origin + "/?uri=%s", "Magnet Links");

        System.import('style/style');
        System.import('app/strmr').then(function (module) {
            angular.bootstrap(document, [module.name]);
        });
    </script>
</head>
<body ng-cloak ng-controller="AppController as ctrl">
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>strmr</h1>

            <div class="auth-buttons">
                <div ng-if="!ctrl.auth.loggedIn || ctrl.auth.loggedIn && ctrl.auth.busy"
                     ng-class="{busy: ctrl.auth.busy}">
                    <button
                       tabindex="1"
                       focus-on="login"
                       class="btn btn-primary"
                       ng-disabled="ctrl.state.login"
                       ng-click="ctrl.login()">
                       <i class="fa fa-spinner fa-spin"></i> Login</button>
                </div>

                <div ng-if="!ctrl.auth.busy && ctrl.auth.loggedIn">

                    <a href=""
                       tabindex="1"
                       class="btn btn-primary"
                       ng-click="ctrl.auth.logout()">Logout</a>

                    <span ng-if="ctrl.auth.validUser">
                        <a target="_blank"
                           tabindex="1"
                           class="btn"
                           href="{{ctrl.links.movies}}">Your Movies</a>
                   </span>

                    <div ng-if="!ctrl.auth.busy && !ctrl.auth.validUser">
                        <br/>
                        <div class="alert alert-danger">
                            <strong>No Dice.</strong> You are logged in, but you do not have access.
                        </div>
                    </div>
                </div>
            </div>

            <form name="ctrl.form" ng-if="ctrl.auth.validUser">

                <div ng-cloak ng-show="ctrl.state.part1">

                    <div class="form-group">
                        <label>Magnet Link</label>
                        <input
                                type="text"
                                name="link"
                                focus-on="link"
                                ng-model="ctrl.link"
                                ng-change="ctrl.id()"
                                ng-model-options="{ debounce: 250 }"
                                class="form-control">
                    </div>
                </div>

                <div ng-cloak ng-show="ctrl.state.part2">

                    <div class="form-group col-m">
                        <label>Path</label>
                        <input
                                disabled
                                type="text"
                                name="strm"
                                ng-model="ctrl.magnet.firekey"
                                class="form-control">
                    </div>

                    <div class="form-group" ng-class="{busy:ctrl.state.busy}">
                        <button
                            type="button"
                            focus-on="save"
                            class="btn btn-primary"
                            ng-disabled="ctrl.state.busy"
                            ng-click="ctrl.save()">
                            <i class="fa fa-spinner fa-spin"></i> Save
                        </button>
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-link">
                            Reset
                        </button>
                    </div>

                </div>

            </form>

            <div>
                <p class="text-success" ng-bind="ctrl.msgs.success"></p>
                <p class="text-danger" ng-bind="ctrl.msgs.error"></p>
            </div>

        </div>
    </div>
</div>

</body>
</html>
