<nav class="navbar navbar-default navbar-fixed-top navbar-light bg-faded">

    <a class="navbar-brand" href="#">strmr</a>

    <ul class="nav navbar-nav" ng-if="user">
        <li class="nav-item">
            <a class="nav-link" href="#/library/">Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/magnet/">Add Magnet</a>
        </li>
    </ul>

    <div class="form-inline pull-right">
        <a href=""
           ng-if="!user"
           class="btn btn-primary"
           ng-click="ctrl.login()">Login</a>

        <a href="#/auth/login/"
           ng-if="user"
           class="btn btn-primary"
           ng-click="user.logout()">Logout</a>
    </div>

</nav>


<div class="container">
    <div ui-view class="index.route"></div>
</div>
